# This file, in conjuction with your .env file,
# should be used to configure the apollos server.

# Any values you wish to keep secret should be placed in `.env`
# You can access those values (and any other values in your environment)
# using the ${VARIABLE_NAME} syntax

# This file should be checked into version control.
# `.env` should NOT be checked into version control.
APP:
  # This variable is used for generating deep links.
  # It should match whatver is in your Info.plist `CFBundleURLTypes`
  DEEP_LINK_HOST: ${DEEP_LINK_HOST}
  UNIVERSAL_LINK_HOST: ${UNIVERSAL_LINK_HOST}
  ROOT_API_URL: ${ROOT_URL}
  JOBS_USERNAME: ${JOBS_USERNAME}
  JOBS_PASSWORD: ${JOBS_PASSWORD}
VIMEO:
  TOKEN: ${VIMEO_TOKEN}
DATABASE:
  URL: ${DATABASE_URL}
BUGSNAG:
  API_KEY: ${BUGSNAG_KEY}
ROCK:
  URL: ${ROCK_URL}
  API_TOKEN: ${ROCK_TOKEN}
UNIVERSAL_LINKS:
  APPLE_APP_ID: ${APPLE_APP_ID}
  APPLE_TEAM_ID: ${APPLE_TEAM_ID}
  APP_STORE_LINK: ${IOS_REDIRECT}
  PLAY_STORE_LINK: ${ANDROID_REDIRECT}
  GOOGLE_APP_ID: ${GOOGLE_APP_ID}
  GOOGLE_KEYSTORE_SHA256: ${GOOGLE_KEYSTORE_SHA256}
ONE_SIGNAL:
  APP_ID: ${ONE_SIGNAL_APP_ID}
  REST_KEY: ${ONE_SIGNAL_REST_KEY}
CHURCH_ONLINE:
  URL: ${CHURCH_ONLINE_URL}
  WEB_VIEW_URL: https://apollos.online.church/
ALGOLIA:
  APPLICATION_ID: ${ALGOLIASEARCH_APPLICATION_ID}
  API_KEY: ${ALGOLIASEARCH_API_KEY}
TWILIO:
  ACCOUNT_SID: ${TWILIO_ACCOUNT_SID}
  AUTH_TOKEN: ${TWILIO_AUTH_TOKEN}
  FROM_NUMBER: ${TWILIO_FROM_NUMBER}
PASS:
  TEMPLATES:
    CHECKIN: ${PWD}/wallet-passes/checkin.pass
  CERTIFICATES:
    WWDR: ${PASS_WWDR_CERT}
    SIGNER_CERT: ${PASS_SIGNER_CERT}
    SIGNER_KEY: ${PASS_SIGNER_KEY}
    SIGNER_KEY_PASSPHRASE: ${PASS_SIGNER_PASSPHRASE}
BIBLE_API:
  KEY: ${BIBLE_API_KEY}
  DEFAULT_VERSION: NLT
CLOUDINARY:
  URL: ${CLOUDINARY_URL}
SUGGESTED_FOLLOWS:
# TODO: find out what these should actually be.
  - jjones@chaseoaks.org
  - jwarren@chaseoaks.org

# This key holds various properties that allow our GraphQL server to map to your Rock Instance
ROCK_MAPPINGS:
  CONTENT_ITEM:
    ContentSeriesContentItem:
      # When resolving "ContentSeriesContentItem" look in rock for a "ContentChannelItem"
      EntityType: ContentChannelItem
      # Used to define the subset of content channels types that use this specific type.
      ContentChannelTypeId: [22, 392, 393, 394, 395]
    DevotionalContentItem:
      EntityType: ContentChannelItem
      ContentChannelId: [363]
    MediaContentItem:
      EntityType: ContentChannelItem
    UniversalContentItem:
      EntityType: ContentChannelItem
    WeekendContentItem:
      ContentChannelId: [23, 383, 384, 391, 390]
      EntityType: ContentChannelItem
    ContentItem:
      EntityType: ContentChannelItem

  DATAVIEW_CATEGORIES:
    # Id of the category used to store all persona dataviews
    PersonaId: 210

  ALL_CONTENT_CHANNELS:
    - 371 # Featured App Content
    - 364 # Weekly Challenges
    - 363 # Daily Scripture
    - 39 # Blog
    - 23 # Sermon Messages
    - 22 # Sermon Series
    - 392
    - 393
    - 394
    - 395
    - 383
    - 384
    - 391
    - 390

  SERMON_CHANNEL_ID: 23

TABS:
  HOME:
    - algorithms: [DAILY_PRAYER]
      isCard: false
      type: PrayerList
      title: Daily Prayer
    # - type: VerticalPrayerList
    #   title: Your Prayers
    - algorithms:
        - type: CONTENT_FEED
          arguments:
            limit: 1
            channelIds:
              - 363
      title: Daily Scripture
      type: VerticalCardList
    - algorithms:
        - type: PRIORITY_CONTENT_FEED
          arguments:
            channelIds:
              - 364
            limit: 3
      type: HorizontalCardList
      title: Weekly Challenges
    - algorithms:
        - type: CONTENT_FEED
          arguments:
            channelIds:
              - 371
            limit: 3
      type: VerticalCardList
      title: Next Steps

  WATCH:
    - algorithms:
        - type: CONTENT_FEED
          arguments:
            channelIds:
              - 23
            limit: 4
      type: HeroList
      primaryAction:
        action: OPEN_CHANNEL
        title: Recent messages
        relatedNode:
          __typename: ContentChannel
          id: 23
    - algorithms: # worship
        - type: CONTENT_FEED
          arguments:
            channelIds:
              - 383
            limit: 5
      type: HorizontalCardList
      title: Worship
      primaryAction:
        action: OPEN_CHANNEL
        relatedNode:
          __typename: ContentChannel
          id: 383
          name: Worship
    - algorithms: # kids
        - type: CONTENT_FEED
          arguments:
            channelIds:
              - 384
            limit: 5
      type: HorizontalCardList
      title: Kids
      primaryAction:
        action: OPEN_CHANNEL
        relatedNode:
          __typename: ContentChannel
          id: 384
          name: Kids
    - algorithms: # en espanol
        - type: CONTENT_FEED
          arguments:
            channelIds:
              - 390
            limit: 5
      type: HorizontalCardList
      title: En Español
      primaryAction:
        action: OPEN_CHANNEL
        relatedNode:
          __typename: ContentChannel
          id: 390
          name: En Español
    - algorithms: # series
        - type: CONTENT_FEED
          arguments:
            channelIds:
              - 22
            limit: 5
      type: HorizontalCardList
      title: All Series
      primaryAction:
        action: OPEN_CHANNEL
        relatedNode:
          __typename: ContentChannel
          id: 22
          name: Series


  READ:
    - algorithms:
        - type: CONTENT_FEED
          arguments:
            channelIds:
              - 39
            limit: 4
      type: HeroList
      primaryAction:
        action: OPEN_CHANNEL
        title: 'See all'
        relatedNode:
          __typename: ContentChannel
          id: 39
          name: Articles
    - algorithms:
        - type: TAGGED_CONTENT_FEED
          arguments:
            tag: Faith
      type: HorizontalCardList
      subtitle: Faith
    - algorithms:
        - type: TAGGED_CONTENT_FEED
          arguments:
            tag: Hope
      type: HorizontalCardList
      subtitle: Hope
    - algorithms:
        - type: TAGGED_CONTENT_FEED
          arguments:
            tag: Love
      type: HorizontalCardList
      subtitle: Love
    - algorithms:
        - type: TAGGED_CONTENT_FEED
          arguments:
            tag: Parenting
      type: HorizontalCardList
      subtitle: Parenting
    - algorithms:
        - type: TAGGED_CONTENT_FEED
          arguments:
            tag: Mental Health
      type: HorizontalCardList
      subtitle: Mental Health
    - algorithms:
        - type: TAGGED_CONTENT_FEED
          arguments:
            tag: Culture and News
      type: HorizontalCardList
      subtitle: Culture and News

  CONNECT:
    - type: ActionTable
      title: Connect to Apollos
      actions:
        [
          {
            title: Google,
            action: OPEN_URL,
            relatedNode: { __typename: Url, url: 'https://www.google.com' },
          },
          {
            title: Facebook,
            action: OPEN_URL,
            relatedNode: { __typename: Url, url: 'https://www.facebook.com' },
          },
        ]
